* {
  font-family: 'Nunito Sans';
  font-size: .9rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75% 7.5%;
  background: hsl(209, 23%, 22%);
}
h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
  animation: slide-in .5s cubic-bezier(.68,-0.55,.27,1.55) 1 backwards;
}
@keyframes slide-in {
  from {
    opacity: 0;
    translate: -150% 0;
  }
}
.dark-mode-button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem 0 0;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  font-weight: 700;
  transition: .2s;
}
.dark-mode-button:hover {
  background: hsl(207, 26%, 17%);
}
.dark-mode-button svg {
  scale: .5;
  stroke: white;
  fill: white;
}
main {
  background: hsl(207, 26%, 17%);
  min-height: 95vh;
  padding: 3% 0 0;
}
#search-section {
  padding: 0 7.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 3%;
}
.search-input-div {
  position: relative;
  width: 100%;
  max-width: 500px;
}
.search-input-div::before {
  content: url('../public/search_icon.svg');
  width: 25px;
  position: absolute;
  top: 50%;
  left: 4%;
  translate: 0 -50%;
}
.search-input-div:active::before {
  scale: 1.2;
}
#search-input {
  width: 100%;
  padding: 1rem 2rem 1rem 4.5rem;
  background: hsl(209, 23%, 22%);
  color: white;
  border: none;
  border-radius: 4px;
}
#search-input:focus {
  outline: none;
}
#search-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}
.region-select {
  position: relative;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.current-selection {
  background-color: hsl(209, 23%, 22%);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-width: 13rem;
}
.current-selection img {
  width: 20px;
}
.visible img {
  rotate: 180deg;
}
.region-dropdown {
  position: absolute;
  left: 0;
  bottom: 0;
  translate: 0 105%;
  display: flex;
  flex-direction: column;
  background-color: hsl(209, 23%, 22%);
  width: 100%;
  border-radius: 5px;
  height: 0px;
  overflow: hidden;
  z-index: 10;
}
.visible .region-dropdown {
  height: auto;
}
.option {
  padding: 2.5% 5%;
}
.option.selected {
  background: hsla(0, 0%, 49%, 0.6);
}
.option:hover {
  background: hsla(0, 0%, 49%, 0.6);
}
.grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 5rem;
  padding: 0 7.5%;
  min-height: 100vh;
}
.grid-section a {
  text-decoration: none;
}
.country {
  background: hsl(209, 23%, 22%);
  height: min-content;
  border-radius: 5px; 
  overflow: hidden;
  cursor: pointer;
}
.country:hover {
  scale: 1.03;
  box-shadow: 0 0 50px hsla(208, 23%, 22%, 0.6);
}
.country-image {
  height: 150px; 
  overflow: hidden;
}
.country-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.country-image:hover img{
  scale: 1.05;
}
.country-info {
  padding: 10% 8%;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}
.country-name {
  font-size: 1.2rem;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
  margin: 0 0 .5rem 0;
}
.country-info-heading {
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}
.country-info-heading span {
  font-weight: 600;
}





             /* Light-mode theme */ 

.light-mode header{
  background: hsl(0, 0%, 100%);
}
.light-mode h1 {
  color: hsl(200, 15%, 8%);
}
.light-mode .dark-mode-button {
  color: hsl(200, 15%, 8%);
}
.light-mode .dark-mode-button:hover {
  background: hsl(0, 0%, 98%);
}
.light-mode .dark-mode-button svg {
  scale: .5;
  stroke: hsl(200, 15%, 8%);
  fill: hsl(200, 15%, 8%);
}
.light-mode .search-input-div::before {
  filter: brightness(0);
}
.light-mode #search-input {
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 52%);
}
.light-mode #search-input::placeholder {
  color: hsl(200, 6%, 18%);
}
.light-mode .region-select {
  color: hsl(200, 15%, 8%);
}
.light-mode .current-selection {
  background-color: hsl(0, 0%, 100%);
}
.light-mode .region-dropdown {
  background-color: hsl(0, 0%, 100%);
}
.light-mode .option.selected {
  background: hsl(0, 0%, 98%);
}
.light-mode .option:hover {
  background: hsl(0, 0%, 98%);
}
.light-mode main {
  background: hsl(0, 0%, 98%);
}
.light-mode .country {
  background: hsl(0, 0%, 100%);
}
.light-mode .country:hover {
  box-shadow: 0 0 50px hsl(0, 0%, 85%);
}
.light-mode .country-name {
  color: hsl(200, 15%, 8%);
}
.light-mode .country-info-heading {
  color: hsl(200, 15%, 8%);
}


@media screen and (max-width: 820px) {
  #search-section {
    flex-direction: column; 
    align-items: flex-start;
    gap: 1rem;
  }
  .country-image {
    height: 175px; 
    overflow: hidden;
  }
}

@media screen and (max-width: 570px) {
  #search-section {
    padding: 0 2%;
  }
  .grid-section {
    padding: 10%; 
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    gap: 1.5rem;
  }
  .country-image {
    max-height: 105px; 
  }
  .country-info {
    min-height: none;
  }
  .country-name {
    font-size: 1rem;
  }
  .country-info-heading {
    font-size: .9rem;
  }
}
@media screen and (max-width: 450px) {
  header {
    padding: 3%;
  }
  h1 {
    font-size: 1.1rem;
  }
  .dark-mode-button {
    font-size: .9rem;
  }
  .grid-section {
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    gap: 1.5rem;
  }
  .country-image {
    max-height: none; 
  }
  .country-image img {
    aspect-ratio: 1.75/1;
  }
}